@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    padding-top: -5%;
}
#cont{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 5%;
}
/* .about{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20%;
    gap: 3rem;
  
} */
 .at{
    color:white;
 }
.abt{
    font-size: 200%;
    text-align: center;
    gap: 3rem;
    margin-top: 30px;
    font-family: "Bebas Neue", serif;
    letter-spacing: 2px;
}
.para{
    font-size:x-large;
    text-align:center;
    line-height: 2;
    margin-bottom: 1rem;
}
.pa{
    font-size: x-large;
    font-style: oblique;
    text-align: justify;
    line-height: 2;
    text-align: center;
    margin-bottom: 1.8rem;
}