@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.contact-section {
    padding: 5rem 0;
    background-color: #ffffff;
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .contact-title {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    font-family: "Bebas Neue", serif;
    letter-spacing: 2px;
    margin-bottom: 4rem;
  }
  
  .contact-grid {
    display: grid;
    gap: 3rem;
  }
  
  @media (min-width: 768px) {
    .contact-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .contact-subtitle {
    font-size: 180%;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .contact-description {
    color: #000000;
    margin-bottom: 2rem;
    font-size: 120%;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .contact-icon {
    color: #000000;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form-label {
    display: block;
    font-size: 100%;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #374151;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #000000;
  }
  
  .submit-button {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 0.75rem 2rem;
    font-weight: 600;
    font-size: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #858585;
  }
  
  .button-icon {
    margin-right: 0.5rem;
  }