@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.faq-section {
    padding: 5rem 0;
    background-color: #ffffff;
    color: black;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    max-width: none;
  }
  
  .container {
    max-width: 300%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .faq-title {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    font-family: "Bebas Neue", serif;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    color: #000000;
  }
  
  .faq-item {
    margin-bottom: 2rem;
    max-width: max-content;
  }
  
  .faq-question {
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    color: rgb(0, 0, 0);
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
  }
  
  .faq-answer {
    margin-top: 0.5rem;
    font-size: 110%;
    text-indent: 4%;
    color: #000000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: max-content;
  }