/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 5rem 1rem;
  font-family: "Bebas Neue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 2px;
  /* font-style: normal; */
}
.over{
  margin-top: 26%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto 2rem;
}


.hero-button {
  background-color: #dc2626;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
}

.hero-button:hover {
  background-color: #b91c1c;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .hero {
    padding: 3rem 1rem;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-button {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    padding: 4rem 1rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
  }

  .hero-button {
    padding: 0.875rem 1.75rem;
    font-size: 0.95rem;
  }
}

@media (min-width: 1025px) {
  .hero {
    padding: 5rem 1rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}
